body
{
    width:900px;
    font-family:"Microsoft Yahei",Helvetica,arial,sans-serif;
    font-size:14px;
    line-height:1.6;
    background-color:#FFF;
    color:#516272;
    margin:0 auto;
    padding:30px;
}

span.loading
{
    font-size:xxx-large;
    display:block;
    text-align:center;
    margin:200px auto;
}

.print-btn
{
    margin-top:-27px;
    text-align:right;
    position:fixed;
    width:960px;
    z-index:100;
}

.print-btn a
{
    color:#444;
    font-size:1em;
    background:#eee;
    padding:4px 20px;
}

.page_number
{
    bottom:0;
    display:none;
    text-align:center;
}

.page_number span
{
    display:none;
    float:right;
}

.page_number:last-child
{
    display:block;
    width:100%;
}

body>:last-child
{
    margin-bottom:0!important;
}

a
{
    color:#4183c4;
}

a.absent
{
    color:#c00;
}

a.anchor
{
    display:block;
    padding-left:30px;
    margin-left:-30px;
    cursor:pointer;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
}

h1,h2,h3,h4,h5,h6
{
    font-weight:700;
    -webkit-font-smoothing:antialiased;
    cursor:text;
    position:relative;
    margin:20px 0 10px;
    padding:0;
}

h1:hover a.anchor,h2:hover a.anchor,h3:hover a.anchor,h4:hover a.anchor,h5:hover a.anchor,h6:hover a.anchor
{
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA09pVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoMTMuMCAyMDEyMDMwNS5tLjQxNSAyMDEyLzAzLzA1OjIxOjAwOjAwKSAgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OUM2NjlDQjI4ODBGMTFFMTg1ODlEODNERDJBRjUwQTQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OUM2NjlDQjM4ODBGMTFFMTg1ODlEODNERDJBRjUwQTQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo5QzY2OUNCMDg4MEYxMUUxODU4OUQ4M0REMkFGNTBBNCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo5QzY2OUNCMTg4MEYxMUUxODU4OUQ4M0REMkFGNTBBNCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PsQhXeAAAABfSURBVHjaYvz//z8DJYCRUgMYQAbAMBQIAvEqkBQWXI6sHqwHiwG70TTBxGaiWwjCTGgOUgJiF1J8wMRAIUA34B4Q76HUBelAfJYSA0CuMIEaRP8wGIkGMA54bgQIMACAmkXJi0hKJQAAAABJRU5ErkJggg==) no-repeat 10px center;
    text-decoration:none;
}

h1
{
    font-size:28px;
    color:#2b3f52;
}

h2
{
    font-size:24px;
    border-bottom:1px solid #dde4e9;
    color:#2b3f52;
}

h3
{
    font-size:18px;
    color:#2b3f52;
}

h4
{
    font-size:16px;
    color:#2b3f52;
}

h5
{
    font-size:14px;
    color:#2b3f52;
}

h6
{
    color:#2b3f52;
    font-size:14px;
}

p,blockquote,ul,ol,dl,li,table,pre
{
    color:#000;
    margin:15px 0;
}

hr
{
    background:transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OENDRjNBN0E2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OENDRjNBN0I2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4Q0NGM0E3ODY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4Q0NGM0E3OTY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqqezsUAAAAfSURBVHjaYmRABcYwBiM2QSA4y4hNEKYDQxAEAAIMAHNGAzhkPOlYAAAAAElFTkSuQmCC) repeat-x 0 0;
    border:0 none;
    color:#ccc;
    height:4px;
    padding:0;
}

li p.first
{
    display:inline-block;
}

li
{
    margin:0;
}

ul,ol
{
    padding-left:30px;
}

dl dt
{
    font-size:14px;
    font-weight:700;
    font-style:italic;
    margin:15px 0 5px;
    padding:0;
}

dl dd
{
    margin:0 0 15px;
    padding:0 15px;
}

blockquote
{
    border-left:4px solid #ecf0f3;
    background-color:#f7f9fa;
    color:#2b3f52;
    padding:15px;
}

table
{
    border-collapse:collapse;
    padding:0;
}

table tr
{
    border-top:1px solid #ccc;
    background-color:#FFF;
    margin:0;
    padding:0;
}

table tr:nth-child(2n)
{
    background-color:#f8f8f8;
}

table tr th
{
    font-weight:700;
    border:1px solid #ccc;
    background-color:#eee;
    margin:0;
    padding:6px 13px;
}

table tr td
{
    border:1px solid #ccc;
    margin:0;
    padding:6px 13px;
}

img
{
    max-width:100%;
}

span.frame
{
    display:block;
    overflow:hidden;
}

span.frame>span
{
    border:1px solid #ddd;
    display:block;
    float:left;
    overflow:hidden;
    width:auto;
    margin:13px 0 0;
    padding:7px;
}

span.frame span img
{
    display:block;
    float:left;
}

span.frame span span
{
    clear:both;
    color:#333;
    display:block;
    padding:5px 0 0;
}

span.align-center>span
{
    display:block;
    overflow:hidden;
    text-align:center;
    margin:13px auto 0;
}

span.align-center span img
{
    text-align:center;
    margin:0 auto;
}

span.align-right>span
{
    display:block;
    overflow:hidden;
    text-align:right;
    margin:13px 0 0;
}

span.align-right span img
{
    text-align:right;
    margin:0;
}

span.float-left
{
    display:block;
    margin-right:13px;
    overflow:hidden;
    float:left;
}

span.float-left span
{
    margin:13px 0 0;
}

span.float-right
{
    display:block;
    margin-left:13px;
    overflow:hidden;
    float:right;
}

span.float-right>span
{
    display:block;
    overflow:hidden;
    text-align:right;
    margin:13px auto 0;
}

code,tt
{
    white-space:nowrap;
    border:1px solid #eaeaea;
    background-color:#f8f8f8;
    border-radius:3px;
    margin:0 2px;
    padding:0 5px;
}

pre code
{
    white-space:pre;
    border:0;
    background:transparent;
    margin:0;
    padding:0;
}

pre code,pre tt
{
    background-color:transparent;
    border:0;
}

sup
{
    font-size:.83em;
    vertical-align:super;
    line-height:0;
}

code
{
    white-space:pre-wrap;
    word-break:break-all;
    color:#c70;
}

*
{
    -webkit-print-color-adjust:exact;
}

h1 tt,h1 code,h2 tt,h2 code,h3 tt,h3 code,h4 tt,h4 code,h5 tt,h5 code,h6 tt,h6 code
{
    font-size:inherit;
}

body>h2:first-child,body>h1:first-child,body>h1:first-child+h2,body>h3:first-child,body>h4:first-child,body>h5:first-child,body>h6:first-child,a:first-child h1,a:first-child h2,a:first-child h3,a:first-child h4,a:first-child h5,a:first-child h6
{
    margin-top:0;
    padding-top:0;
}

h1 p,h2 p,h3 p,h4 p,h5 p,h6 p,ul :first-child,ol :first-child,dl dt>:first-child,dl dd>:first-child,blockquote>:first-child,table tr th :first-child,table tr td :first-child
{
    margin-top:0;
}

dl,dl dt:first-child
{
    padding:0;
}

dl dt>:last-child,dl dd>:last-child,blockquote>:last-child,table tr th :last-child,table tr td :last-child
{
    margin-bottom:0;
}

span.align-center,span.align-right
{
    display:block;
    overflow:hidden;
    clear:both;
}

.highlight pre,pre
{
    background-color:#f8f8f8;
    border:1px solid #ccc;
    font-size:13px;
    line-height:19px;
    overflow:auto;
    border-radius:3px;
    padding:6px 10px;
}

@media print {
    .print-btn
    {
        display:none;
    }
    
    .page_number
    {
        page-break-after:always;
        display:block;
    }
    
    .page_number span
    {
        display:inline;
    }
    
    table,pre
    {
        page-break-inside:avoid;
    }
    
    pre
    {
        word-wrap:break-word;
    }
}

@media screen and min-width 914px {
    body
    {
        width:960px;
        margin:0 auto;
    }
}
